/* Navbar */
.navbar {
  background-color: var(--color-primary);
  color: var(--color-lightest);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
}

.navbar.sticky {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

/* Nav ul styles */
.navbar > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Navbar links */
.navbar a {
  display: block;
  padding: 0.5em 1em;
  color: var(--color-lightest);
  font-size: 1.2em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Navbar Title */
.navbar .title {
  color: var(--color-lightest);
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  padding: 0 1em;
}
